.header li {
  transition: 0.1s;
}

.nav ul > li:not(.drop-row):hover{
  border-bottom: 1.5px solid #0061ff;
}

button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.drop-menu > li:hover {
  background-color: #b4d0e7;
}

.drop-menu > li:first-child:hover {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.drop-menu > li:last-of-type:hover {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.question:hover {
  height: 136.39px;
}

.question:last-of-type:hover {
  height: 152.39px;
}

.question:hover p{
  display: block;
  opacity: 1;
}

.question:hover h3::after {
    transform: rotate(180deg);
}

.btn:hover {
  opacity: 0.8;
}

.btn-black:hover {
  background-color: rgb(240, 240, 240);
}

.rounded-check:focus {
  border: 5px solid #0061ff;
}

.footer a:hover, .drop-row a:hover {
  text-decoration: underline;
}

