.header li {
  transition: 0.1s;
}

ul > li:not(.drop-row):hover{
  border-bottom: 1.5px solid #0061ff;
}

button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.drop-menu > li:hover {
  background-color: blueviolet;
}

.question:hover p{
  display: inline-block;
}

.question:hover h3::after {
    transform: rotate(180deg);
}

.btn:hover {
  opacity: 0.8;
}

.btn-black:hover {
  background-color: rgb(240, 240, 240);
}

.rounded-check:focus {
  border: 5px solid #0061ff;
}

.footer a:hover, .drop-row a:hover {
  text-decoration: underline;
}