.header li {
  transition: 0.1s;
}

.header li:hover {
  border-bottom: 2px solid #0061ff;
}

details[open] summary:after {
    transform: rotate(180deg);
  }

.btn:hover {
  opacity: 0.8;
}

.btn-black:hover {
  background-color: rgb(240, 240, 240);
}

.rounded-check:focus {
  border: 5px solid #0061ff;
}