/* common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container-box {
    width: 65%;
    margin: 0 auto;
    padding-top: 2em;
}

.container {
    width: 56%;
    margin: 0 auto;
}

.box {
    margin: 0 10%;
}

.box-flex {
    display: flex;
}

header {
    height: 80px;
    line-height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header {
    width: 78%;
    position: fixed;
    margin: 0 11%;
}

h1 {
    font-size: 4.3em;
    font-weight: 800;
}

h2 {
    font-size: 1.7em;
    font-weight: 800;
}

h3 {
    font-size: 1.2em;
    font-weight: 800;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-blue {
    color: #0061ff;
}

a {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

ul, li {
    display: inline-block;
}

.btn {
    border: 1px transparent black;
}

.bg-blue {
    background-color: #0061ff;
}

.bg-white {
    background-color: white;
}

.bg-light-blue {
    background-color: #b4d0e7;
}

.sol {
    border: solid;
}

/* common */




/* navigation */



.logo img {
    margin-left: 1em;
    vertical-align: middle;
}

.nav a {
    color: black;
}

.nav ul li {
    margin-left: 3em;
}

.nav li a.btn {
    padding: 5px 30px;
    margin-right: 1em;
    color: white;
}

/* navigation */




/* jumbotron */

.jumbo {
    height: 74vh;
    margin-top: 5em;
}

.jumbo-title {
    margin-bottom: 3em;
}

.chest {
    margin-right: 1em;
    width: 35%;
}

.chest-item {
    margin-top: 3em;
    width: 100%;
}

.chest-item i{
    font-size: 3em;
    margin-top: 0.2em;
}

.jumbo .chest-item a.btn{
    padding: 8px 30px;
}

.box-image img{
    max-width: 870px;
}

.space {
    height: 13em;
}

/* jumbotron */




/* Business */



/* Business */




/* Business Plan Checkbox */

.fatturazione {
    margin: 3em 0 2.5em;
    line-height: 20px;
}

.rounded-check {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    outline: none;
    cursor: pointer;
    
    transition: 1s;
}

.rounded-check:checked {
    border: 5px solid #0061ff;
}

.rounded-check-text {
    position: absolute;
    font-size: 20px;
}

.rounded-check:first-of-type{
    left: 22%;
}

.rounded-check:last-of-type{
    left: 37%;
}

.rounded-check-text:first-of-type {
    left: 23.5%;
}

.rounded-check-text:last-of-type{
    left: 38.5%;
}

/* Business Plan Checkbox */




/* Business Plan List */

.business-plan-list {
    margin-top: 7.5em;
}

.business-plan-list .column {
    width: calc(100% / 3 - 21.49px);
    float: left;
    border: 1px solid gray;
    height: 75em;
}

.business-plan-list .column:nth-child(2) {
    margin: 0 2em;
}

.business-plan-list .column h1, .row h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.price {
    margin-top: 1em;
}

span {
    width: 100%;
}

.price span:first-of-type {
    font-size: 1.05em;
    margin: 1em 0;
    font-weight: 800;
}

.price span:last-of-type {
    font-size: 0.9em;
    color: rgb(117, 115, 115);
}

.function {
    margin-top: 2.5em;
}

.fa-ul {
    margin-left: 9%;
}

.function li, .plan li {
    margin-bottom: 1.5em;
}

.function li:last-of-type {
    margin-bottom: 2.5em;
}

.function a {
    margin-bottom: 20em;
    padding: 5px 30px;
}
.function div {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.function div span a{
    margin-left: -0.6em;
    text-decoration: underline;
}

.plan h3{
    margin-bottom: 1.5em;
}

.border-line {
    display: block;
    border: none;
    border-top: 1px solid grey;
    border-bottom: none;
    width: 3.5em;
    margin-bottom: 4.5em;
}

.box-contact {
    margin: 0 3%;
}

.row {
    width: 100%;
    height: 15em;
    border: 1px solid gray;
    float: left;
    margin-top: 2em;
}

.row .box-contact div {
    margin-top: 1em;
}

.row .box-contact h2 {
    margin-bottom: 0.5em;
}

.row .box-contact a {
    padding: 5px 25px;
}


/* Business Plan List */




/* Partner */



/* Partner */




/* Operation */



/* Operation */




/* Sponsor */



/* Sponsor */




/* FAQ */



/* FAQ */




/* footer */



/* footer */




/* utilities */



/* utilities */




/* end */



/* end */
