/* common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container-box {
    width: 65%;
    margin: 0 auto;
    padding-top: 2em;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.box {
    width: calc(100% - 1.5em);
}

.box-flex {
    display: flex;
}

header {
    height: 80px;
    line-height: 80px;
}

.header {
    width: 78%;
    margin: 0 auto;
}

h1 {
    font-size: 5em;
    font-weight: extra-bold-800;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-blue {
    color: #0061ff;
}

a {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

ul, li {
    display: inline-block;
}

.btn {
    border: 1px transparent black;
}

.bg-blue {
    background-color: #0061ff;
}

.bg-white {
    background-color: white;
}

.bg-light-blue {
    background-color: #b4d0e7;
}

.sol {
    border: solid;
}

/* common */




/* navigation */

header {
    display: fixed;
}


.logo img {
    margin-left: 1em;
    vertical-align: middle;
}

.nav a {
    color: black;
}

.nav ul li {
    margin-left: 3em;
}

.nav li a.btn {
    padding: 5px 30px;
    margin-right: 1em;
    color: white;
}

/* navigation */




/* jumbotron */

.jumbo {
    height: 70vh;
}

.jumbo-title {
    margin-bottom: 3em;
}

.chest {
    padding-right: 5em;
    margin-right: 4em;
    width: 25%;
}

.chest p{
    margin-bottom: 3em;
}

.chest a:last-of-type {
    margin-top: 2em;
    margin-bottom: 2em;
}

.jumbo .chest a.btn{
    padding: 5px 30px;
}


.box-image img{
    max-width: 950px;
}


.space {
    height: 8em;
}

/* jumbotron */




/* Business */



/* Business */




/* Business Plan */



/* Business Plan */




/* Operation */



/* Operation */




/* Sponsor */



/* Sponsor */




/* FAQ */



/* FAQ */




/* footer */



/* footer */




/* utilities */



/* utilities */




/* end */



/* end */
