/* common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.relative {
    position: relative;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.h-100 {
    height: 100%;
}

.container-box {
    width: 65%;
    margin: 0 auto;
    padding-top: 2em;
}

.container-partner {
    width: 50%;
}

.container {
    width: 56%;
    margin: 0 auto;
}

.box {
    margin: 0 10%;
}

.box-flex {
    display: flex;
}

header {
    height: 80px;
    line-height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header {
    width: 78%;
    position: fixed;
    margin: 0 11%;
}

h1 {
    font-size: 4.3em;
    font-weight: 800;
}

h2 {
    font-size: 1.5em;
    font-weight: 800;
}

h3, summary {
    font-size: 1.2em;
    font-weight: 800;
}

.box-title {
    font-size: 2.5em;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-blue {
    color: #0061ff;
}

.text-dark-red {
    color: #620a2d;
}

a {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.btn {
    border: 1px transparent black;
}

.visible {
    border: solid;
}

.bg-blue {
    background-color: #0061ff;
}

.bg-white {
    background-color: white;
}

.bg-light-gray {
    background-color: #f5f5f5;
}

.bg-light-blue {
    background-color: #b4d0e7;
}

.bg-dark-red {
    background-color: #61082b;
}

.bg-light-green {
    background-color: #a2d39b
    ;
}

.bg-medium-blue {
    background-color: #0093ce
    ;
}

.bg-light-red {
    background-color: #ff1c1c;
}

.bg-dark-blue {
    background-color: #0d2481;
}

.bg-red {
    background-color: #d5001f;
}

.bg-yellow {
    background-color: #ffd830;
}

.bg-black {
    background-color: black;
}


.sol {
    border: solid;
}

/* common */




/* navigation */

.header ul, .header li {
    display: inline-block;
}

.logo img {
    margin-left: 1em;
    vertical-align: middle;
}

.nav a {
    color: black;
}

.nav ul li {
    margin-left: 3em;
}

.nav li a.btn {
    padding: 5px 30px;
    margin-right: 1em;
    color: white;
}

/* navigation */




/* jumbotron */

.jumbo {
    margin-top: 5em;
}

.chest {
    margin-right: 1em;
    width: 35%;
    margin-top: 4.8em;
}

.chest-item {
    margin-top: 3em;
    width: 100%;
}

.chest-item i{
    font-size: 3em;
    margin-top: 0.2em;
}

.jumbo .chest-item a.btn{
    padding: 8px 30px;
}

.jumbo .box-image {
    bottom: -5em;
}

.jumbo .box-image img{
    width: 100%;
    max-width: 870px;
}

.space {
    height: 13em;
}

/* jumbotron */




/* Business Plan Checkbox */

.fatturazione {
    margin: 3em 0 2.5em;
    line-height: 20px;
}

.rounded-check {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
}

.rounded-check:checked {
    border: 5px solid #0061ff;
}

.rounded-check-text {
    position: absolute;
    font-size: 20px;
}

.rounded-check:last-of-type{
    left: 30%;
}

.rounded-check-text:first-of-type {
    left: 3%;
}

.rounded-check-text:last-of-type{
    left: 33%;
}

/* Business Plan Checkbox */




/* Business Plan List */

.business-plan-list {
    margin-top: 7.5em;
}

.column {
    width: calc(100% / 3 - 21.49px);
    border: 1px solid gray;
    height: 75em;
}

.business-plan-list .column:nth-child(2) {
    margin: 0 2em;
}

.business-plan-list .column h1, .row h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.price {
    margin-top: 1em;
}

span {
    width: 100%;
}

.price span:first-of-type {
    font-size: 1.05em;
    margin: 1em 0;
    font-weight: 800;
}

.price span:last-of-type {
    font-size: 0.9em;
    color: rgb(117, 115, 115);
}

.function {
    margin-top: 2.5em;
}

.fa-ul {
    margin-left: 9%;
}

.function li, .plan li {
    margin-bottom: 1.5em;
}

.function li:last-of-type {
    margin-bottom: 2.5em;
}

.function a.btn {
    margin-bottom: 20em;
    padding: 5px 30px;
}
.function div {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.function div span a{
    margin-left: 0.4em;
    text-decoration: underline;
}

.plan h3{
    margin-bottom: 1.5em;
}

.border-line {
    display: block;
    border: none;
    border-top: 1px solid grey;
    border-bottom: none;
    width: 3.5em;
    margin-bottom: 4.5em;
}

.box-contact {
    margin: 0 3%;
}

.row {
    width: 100%;
    height: 15em;
    border: 1px solid gray;
    margin-top: 2em;
}

.row .box-contact div {
    margin-top: 1em;
}

.row .box-contact h2 {
    margin-bottom: 0.5em;
}

.row .box-contact span {
    font-size: 0.9em;
}

.row .box-contact a {
    padding: 5px 25px;
}


/* Business Plan List */




/* Partner */

.partener-box {
    margin-top: 10em;
    height: 30em;
}
.pharagraph {
    margin: 2em 0 0 3em;
}

.image {
    background-image: url(../img/partner.png);
    background-size: cover;
}

.pharagraph p {
    margin-top: 1.5em;
    line-height: 1.8em;
    margin-bottom: 2.5em;
}

.pharagraph a {
    padding: 8px 20px;
}

/* Partner */




/* Operation */

.card {
    margin-bottom: 12em;
}

.card .box-title {
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

.card .column {
    margin-top: 2em;
    height: 32em;
    border: transparent;
}

.card .column:nth-child(1n + 5) {
    margin-top: 6em;
}

.card .column:nth-child(3n + 3) {
    margin-left: 2em;
    margin-right: 2em;
}

.card-image {
    height: 50%;
    justify-content: center;
}

.card-pharagraph h2 {
    margin-top: 1em;
}

.card-pharagraph p {
    margin-top: 1.5em;
    font-size: 1em;
    line-height: 1.45em;
}

/* Operation */




/* Team */

.team-box h2 {
    margin-bottom: 1em;
}

.team-box a {
    margin-top: 3em;
    text-decoration: underline;
}

/* Team */




/* Sponsor */

.container-sponsor {
    margin-top: 5em;
    height: 35.75em;
}

.side-column {
    width: 30%;
}

.container-sponsor .column {
    width: 40%;
    height: 100%;
}

.card-sponsor {
    width: 50%;
    height: 50%;
}

.card-sponsor img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    filter: invert(100%);
}

.side-column:first-of-type .card-sponsor:first-of-type {
    border: 10px solid #d0e9cd;
}

.container-sponsor .column {
    padding: 3em;
    border: transparent;
}

.container-sponsor .column .border-line{
    width: 4em;
    margin-top: 2em;
}

.container-sponsor .column p {
    margin-top: 3em;
    margin-bottom: 3.5em;
}

.free-trial {
    width: 100%;
}

.container-sponsor .container {
    margin-top: 10em;
    margin-bottom: 10em;
}

.container-sponsor .container h2{
    width: 50%;
    display: inline-block;
}

.container-sponsor .container a {
    padding: 8px 50px;
    border: transparent;
}

/* Sponsor */




/* FAQ */

.FAQ-box {
    padding-bottom: 6em;
}

.FAQ-box .question{
    border-top: 1px solid black;
    padding: 1.8em 0;
}

.FAQ-box h2 {
    display: inline-block;
    font-size: 2.5em;
    padding-top: 2.5em;
    margin-bottom: 1.5em;
}

.answer {
    padding: 1.8em 0;
    padding-left: 3em;
}

.FAQ-box .container{
    border-bottom: 1px solid black;
}

details>summary {
    list-style: none;
    padding-right: 30px;
  }
  summary::-webkit-details-marker {
    display: none
  }
  
  summary::after {
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900; 
    content: "\f078";
    float: right;
    transition: 1s;
  }


/* FAQ */




/* utilities */

.footer .column {
    margin: 5.5em 0;
    width: calc(100% / 5);
    height: 15em;
    border: transparent;
}

.footer h2 {
    margin-bottom: 0.5em;
}

.footer .container-box .column ul li {
    margin-top: 0.5em;
    list-style: none;
}


.footer hr {
    width: 8em;
    margin-bottom: 4em;
}

/* utilities */




/* end */

.language-selector {
    padding-bottom: 3em;
}

.language-selector span {
    position: absolute;
}

.select {
    display: block;
    margin-left: 1.3em;
    height: 1em;    
    width: 5em;
}

.select select {
    background-color: black;
    border:0px;
    outline:0px;
    height: 1em;    
    width: 5em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select:after {
    content:"\f0d7";
    font-family: "Font Awesome 6 Free";
    font-weight: 900; 
    color: #fff;
    padding: auto;
    position: absolute; right: 0; top: 0;
    z-index: 1;
    text-align: center;
    width: 40%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}

/* end */
