* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}